
// Colors
// ----------------------------------------------------------------------------

$c-red: #E74C3C;
$c-blue-l: #3498DB;
$c-blue-m: #2980B9;
$c-blue-d: #2C3E50;
$c-gray-l: #ECF0F1;
$c-gray-m: #9B9B9B;
$c-white: #FFFFFF;
$c-yellow: #F3E847;

// Mixins
// ----------------------------------------------------------------------------

@mixin input-placeholder($selector) {
  #{$selector}::-webkit-input-placeholder { @content; }
  #{$selector}::-moz-placeholder { @content; }
  #{$selector}:-ms-input-placeholder { @content; }
  #{$selector}:-moz-placeholder { @content; }
}
