<template>
  <div class="app">
    <div class="container">
      <search
        class="search"
        v-on:query="onQuery"
        v-on:people="onPeople"
      />

      <people
        :query="query"
        :people="people"
      />
    </div>
  </div>
</template>

<script>
  import People from './People.vue';
  import Search from './Search.vue';

  export default {
    components: {
      People,
      Search
    },
    data() {
      return {
        query: '',
        people: []
      }
    },
    methods: {
      onQuery(query) {
        this.query = query;
      },
      onPeople(people) {
        this.people = people;
      }
    }
  }
</script>

<!-- Global Styles -->
<style lang="scss">
  html,
  body {
    margin: 0;
    padding: 0;
  }

  html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1px; /* Set the rem root font-size to a 1:1 px to rem */
  }

  body {
    font-size: 16rem;
  }

  /* Set the default font-size to a readable 16px */
</style>

<!-- Global Filter Styles -->
<style lang="scss">
  @import "shared";

  .filter--highlight {
    background-color: $c-yellow;
    color: black;
    border-radius: 3rem;
    display: inline-block;
  }
</style>

<!-- Scoped Styles -->
<style scoped lang="scss">
  @import "shared";

  .app {
    background-color: $c-gray-l;
    min-height: 100vh;
    min-width: 100vw;
  }

  .container {
    max-width: 900rem;
    margin: 0 auto;
    padding-top: 30rem;
  }

  .search {
    margin-bottom: 10rem;
  }
</style>
