<template>
  <div class="people">
    <person
      v-for="(person, index) in people"
      class="person"
      v-bind:id="`result-${index}`"
      :identifier="person.id"
      :name="person.name"
      :age="person.age"
      :address="person.address"
      :team="person.team"
      :highlight="query"
    />
  </div>
</template>

<script>
  import Person from './Person.vue';

  export default {
    props: {
      query: String,
      people: Array
    },
    components: {
      Person
    }
  }
</script>

<style scoped lang="scss">
  @import "shared";

  .people {
    padding-bottom: 30rem;
  }

  .person {
    margin-bottom: 10rem;
  }
</style>
