<template>
  <article
    v-on:click="open = !open"
    v-bind:class="{ 'person--open': open }"
    class="person"
  >
    <div class="content">
      <h1 v-html="$options.filters.highlight(name, highlight)"></h1>
      <p v-html="$options.filters.highlight(address, highlight)"></p>
    </div>

    <div class="identifier">#{{ identifier }}</div>
    <div class="age">{{ age }}</div>

    <div
      v-bind:style="{ 'background-color': team.toLowerCase() }"
      class="team-color"
    >
      {{ team }}
    </div>
  </article>
</template>

<script>
  import highlight from '../filters/highlight';

  export default {
    props: {
      identifier: Number,
      name: String,
      age: Number,
      address: String,
      team: String,
      highlight: String
    },
    data() {
      return {
        open: false
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "shared";

  .person {
    border-radius: 6rem;
    background-color: $c-white;
    padding: 0 20rem;
    line-height: 80rem;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
  }

  .person:hover {
    background-color: $c-blue-d;
    h1, p {
      color: $c-gray-l;
    }
  }

  .person--open {
    line-height: 100rem;
  }

  .content {
    display: inline-block;
    vertical-align: middle;
    line-height: 18rem;
  }

  h1 {
    padding: 0;
    margin: 0;
    font-size: 16rem;
    color: $c-blue-m;
    transition: color 0.3s ease;
  }

  p {
    padding: 5rem 0 0 0;
    margin: 0;
    font-size: 14rem;
    color: $c-gray-m;
    transition: color 0.3s ease;
  }

  .identifier {
    position: absolute;
    right: 150rem;
    top: 37rem;
    color: rgba($c-gray-m, 0.5);
    font-size: 30rem;
    line-height: 30rem;
    opacity: 0;
    transform: translateY(-10rem);
    transition: all 0.3s ease;

    .person--open & {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .age {
    position: absolute;
    right: 80rem;
    top: 32rem;
    color: $c-gray-m;
    font-size: 30rem;
    line-height: 40rem;
    opacity: 0;
    transform: translateY(-10rem);
    transition: all 0.3s ease;

    .person--open & {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .team-color {
    overflow: hidden;
    text-indent: -100em;
    position: absolute;
    right: 20rem;
    top: 30rem;
    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    opacity: 0;
    transform: translateY(-10rem);
    transition: all 0.3s ease;
    border: 2rem solid $c-gray-l;

    .person--open & {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>
