<template>
  <div class="search">
    <input
      v-model="query"
      v-on:keyup="onEnterQuery(query)"
      :disabled="upload && upload.active"
      id="searchField"
      class="query-input"
      type="text"
      placeholder="Insert search terms"
    >

    <template v-if="upload && upload.active">
      <span
        v-if="upload && upload.active"
        v-bind:style="{ width: `${upload.uploadPercent}%` }"
        class="progress progress--upload"
      >
        Uploading
      </span>

      <span
        v-if="upload && upload.active"
        v-bind:style="{ width: `${upload.processPercent}%` }"
        class="progress progress--process"
      >
        Processing
      </span>

      <p class="notice" v-if="upload.status == 'uploading'">Uploading</p>
      <p class="notice" v-if="upload.status == 'processing'">Processing</p>
    </template>

    <template v-if="!searching && (!upload || !upload.active)">
      <p class="notice" v-if="!query.length">
        Enter a search query to search for results in the CSV you've uploaded.
      </p>

      <p class="notice" v-if="query.length && !people.length">
        No people were found that matched your search criteria.
      </p>
    </template>

    <span
      v-bind:class="{ 'spinner--visible': searching || (upload && upload.active) }"
      class="spinner"
    >
      <i class="material-icons">hourglass_full</i>
    </span>

    <upload
      v-on:start="onUploadStart"
      v-on:progress="onUploadProgress"
      v-bind:class="{ 'upload--hidden': searching || (upload && upload.active) }"
      class="upload"
    />
  </div>
</template>

<script>
  import Upload from './Upload.vue';

  // Number of MS to wait after a key-up event before doing a search
  const KEYUP_SEARCH_TIMEOUT_MS = 230;

  let searchTimeout;

  export default {
    components: {
        Upload
    },
    data() {
      return {
        query: '',
        searching: false,
        upload: null,
        people: []
      }
    },
    methods: {
      onUploadStart() {
        // Hack: for some reason vue is misbehaving when emitting an event
        // within the context the upload start event. In this specific case,
        // onUploadProgress wasn't being called unless we push the emission
        // of the people event to bottom of the event loop.
        setTimeout(() => {
          this.query = '';
          this.$emit('people', []);
        }, 0);
      },

      onUploadProgress(status) {
        this.upload = status;
      },

      onEnterQuery(query) {
        this.searching = true;
        this.$emit('query', query);

        clearTimeout(searchTimeout);

        searchTimeout = setTimeout(() => {
          this.search(query)
        }, KEYUP_SEARCH_TIMEOUT_MS);
      },

      search(query) {
        let p = this.$http.post('/search', { query: query });

        p.then((r) => {
          this.people = r.body;
          this.$emit('people', this.people);
        });

        p.finally((r) => {
          this.searching = false;
        });
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "shared";

  .search {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .query-input {
    box-sizing: border-box;
    padding: 0 20rem;
    margin: 0;
    width: 100%;
    border: none;
    line-height: 80rem;
    font-size: 16rem;
    background-color: $c-red;
    color: $c-white;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 6rem;

    &:focus {
      outline: none;
      background-color: $c-blue-d;
      cursor: text;
    }

    &:disabled {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  @include input-placeholder(".query-input") {
    color: rgba($c-white, 0.7);
  }

  .upload {
    position: absolute;
    top: 10rem;
    right: 10rem;
    transform: translateX(0);
    transition: transform 0.6s ease;

    &--hidden {
      transform: translateX(80rem);
    }
  }

  .progress {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 80rem;
    border-radius: 6rem;
    transition: width 0.6s ease;
    text-align: right;
    vertical-align: middle;
    color: transparent;

    &--upload {
      background-color: darken($c-gray-m, 10%);
    }

    &--process {
      background-color: darken($c-gray-m, 30%);
    }
  }

  .spinner {
    position: absolute;
    top: 0;
    right: 20rem;
    color: $c-white;
    transform: translateX(80rem);
    transition: transform 0.6s ease;
    z-index: 5;

    &--visible {
      transform: translateX(0)
    }
  }

  .spinner i {
    font-size: 50rem;
    line-height: 80rem;
    display: inline-block;
    animation: spinner-animation 1s;
    animation-iteration-count: infinite;
  }

  @keyframes spinner-animation {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }

  .notice {
    font-size: 16rem;
    color: $c-gray-m;
  }
</style>
