<template>
  <div class="upload">
    <label for="uploadField" class="label">
      <i class="material-icons">publish</i>
    </label>

    <input
      v-on:change="onFileSelected"
      id="uploadField"
      class="input"
      type="file"
      accept="text/csv"
    >

    <!--
      The button has been added as per the task instructions, however its
      behaviour has been nullified as the upload is done automatically as soon
      as the user selects a .CSV file via the label/file-input interaction.
    -->
    <button
      v-on:click="onSubmit"
      id="uploadButton"
      class="button"
    >
      Submit
    </button>
  </div>
</template>

<script>
  // Number of MS to wait before polling the server again while the upload
  // request is in progress.
  const UPLOAD_STATUS_POLL_MS = 250;

  export default {
    data() {
      return {
        hasFinished: false,
        uploadTotal: 0,
        uploadProgress: 0,
        processTotal: 0,
        processProgress: 0
      }
    },
    methods: {
      onFileSelected(e) {
        let files = e.target.files || [];

        if (!files.length) {
          return;
        }

        // Ensure defaults before initiating the upload
        this.reset();
        this.$emit('start');
        this.progress('uploading');

        // Build the form data that will carry the file to the back-end
        let formData = new FormData();
        formData.append('uploadField', files[0]);

        // Submit the file, and report on the upload progress
        let promise = this.$http.post('/import', formData, {
          progress: (e) => {
            this.uploadTotal = e.total;
            this.uploadProgress = e.loaded;
            this.progress('uploading');
          }
        });

        // While the file is being uploaded, keep checking the import status
        // endpoint for the processing.
        let interval = setInterval(() => {
          this.$http.get('/import-status').then((r) => {
            if (r.body.state == 'stopped') {
              return;
            }

            this.processProgress = r.body.imported;
            this.processTotal = r.body.total;
            this.progress('processing');
          });
        }, UPLOAD_STATUS_POLL_MS);

        // When the request finally ends, clear the processing check interval
        // and remove the file from the input field.
        let finish = (status) => {
          clearInterval(interval);
          e.target.value = ''

          // Emit the final progress event and then set the status of the upload
          // has having finished.
          this.progress(status);
          this.hasFinished = true;
        };

        promise.then((r) => finish('ok'));
        promise.catch((r) => finish('fail'));
      },

      onSubmit(e) {
        // Nullify the button behaviour, as the upload is done automatically
        // via the file input selection.
        e.preventDefault();
      },

      progress(status) {
        // If upload has already finished, ignore any progress reports that
        // may come afterwards due to status report request draining.
        if (this.hasFinished) {
          return;
        }

        this.$emit('progress', {
          active: (status == 'uploading') || (status == 'processing'),
          status: status,
          uploadPercent: this.uploadProgress / (this.uploadTotal || 1) * 100,
          processPercent: this.processProgress / (this.processTotal || 1) * 100
        });
      },

      reset() {
        this.hasFinished = false;
        this.uploadTotal = 0;
        this.uploadProgress = 0;
        this.processTotal = 0;
        this.processProgress = 0;
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "shared";

  .upload {
    display: block;
    height: 60rem;
    width: 60rem;
    border-radius: 100%;
    overflow: hidden;
  }

  .label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    opacity: 0.6;
    transition: opacity 0.2s ease;

    &:hover,
    &:active {
      opacity: 1;
    }
  }

  .material-icons {
    font-size: 50rem;
    vertical-align: middle;
    line-height: 60rem;
    color: $c-white;
  }

  .input {
    width: 0;
    height: 0;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .button {
    display: none;
  }
</style>
